body {
  background-color: #6198BF;
}

#root {
  width: 100%;
}

.calculator-app {
  width: 300px;
  margin: 0 auto;
  margin-top: 40px;
  background-color: #001429;
  box-shadow: 7px 7px 10px #1F4973;
}

.calculator-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 3px 10px 10px 10px;
  background-color: #001429;
}
