.mathKey {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  border: 2px solid green;
  border-radius: 10px;
  background-color: pink;
  cursor: pointer;
}

.active {
  background-color: purple;
}
